#define IDC_BTN1 2
#define IDC_GRP1 1
#define IDC_GRP2 2
#define IDC_STC1 5
#define IDC_STC2 6
#define IDC_STC3 7
#define IDC_STC4 10
#include "winuser.h"
#include "resource.h"
LANGUAGE 9,2
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,1,8,0
PRODUCTVERSION 1,1,8,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "xmp-scrobbler\0"
      VALUE "FileVersion", "0.1\0"
      VALUE "InternalName", "xmp-scrobbler\0"
      VALUE "OriginalFilename", "xmp-scrobbler.dll\0"
      VALUE "ProductName", "xmp-scrobbler\0"
      VALUE "ProductVersion", "0.1\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
IDD_CONFIG DIALOGEX 0,0,226,236
CAPTION "xmp-scrobbler"
FONT 8,"MS Shell Dlg",0,0
STYLE 0x80C80088
EXSTYLE 0x00040000
BEGIN
  CONTROL "",IDC_USERNAME,"Edit",0x50010080,48,18,62,13,0x00000200
  CONTROL "",IDC_PASSWORD,"Edit",0x500100A0,48,33,62,13,0x00000200
  CONTROL "Enable xmp-scrobbler",IDC_ENABLE,"Button",0x10010103,121,17,91,9
  CONTROL "View Log File",IDC_VIEW_LOG,"Button",0x50010000,158,149,52,17
  CONTROL "&Cancel",IDCANCEL,"Button",0x50010000,116,212,52,17
  CONTROL "&Save",IDOK,"Button",0x50010001,56,212,56,17
  CONTROL "Last.fm Account",-1,"Button",0x50000007,6,5,108,46
  CONTROL "Username:",-1,"Static",0x50020000,12,20,34,11
  CONTROL "Password:",-1,"Static",0x50020000,12,35,34,9,0x00000020
  CONTROL "Preferences",-1,"Button",0x50000007,116,5,104,46
  CONTROL "Proxy server configuration",IDC_GRP1,"Button",0x50000007,6,53,214,83
  CONTROL "",IDC_PROXY_SERVER,"Edit",0x50010080,34,77,112,13,0x00000200
  CONTROL "",IDC_PROXY_USER,"Edit",0x50010000,34,114,64,13,0x00000200
  CONTROL "",IDC_PROXY_PASSWORD,"Edit",0x50010020,148,114,64,13,0x00000200
  CONTROL "Host:",IDC_STC1,"Static",0x50000000,12,79,18,9
  CONTROL "User:",IDC_STC2,"Static",0x50000000,12,116,20,9
  CONTROL "Password:",IDC_STC3,"Static",0x50000000,110,116,32,9
  CONTROL "Use proxy server",IDC_PROXY_ENABLE,"Button",0x50010003,12,64,68,9
  CONTROL "",IDC_PROXY_PORT,"Edit",0x50012080,182,77,30,13,0x00000200
  CONTROL "Port:",IDC_STC4,"Static",0x50000000,162,79,18,9
  CONTROL "Use proxy server authentication",IDC_PROXY_AUTH,"Button",0x50010003,12,97,116,9
  CONTROL "Clear Log File",IDC_DELETE_LOG,"Button",0x50010000,158,169,52,17
  CONTROL "Log file configuration",IDC_GRP2,"Button",0x50000007,6,138,214,56
  CONTROL "",IDC_LOGFILE_LIMITS,"ComboBox",0x50010003,86,151,56,44
  CONTROL "Limit log file size to",IDC_LOGFILE_LIMIT,"Button",0x50010003,12,153,72,9
  CONTROL "Create new log file at each startup",IDC_LOGFILE_TRUNCATE,"Button",0x50010003,12,166,136,9
  CONTROL "Enable debug mode",IDC_LOGFILE_DEBUGMODE,"Button",0x10010103,12,179,92,9
END
